body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* INTRO */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../png/lightbluebg.png") center no-repeat;
	background-size: cover;
}

.intro__inner {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.intro__title {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

/* HEADER */
.header {
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	display: flex;
	
}

.header__logo:hover .hidden {
	opacity: 1;
	max-width: 1em;
}

.hidden {
	max-width: 0;
	opacity: 0;
	transition: 0.5s ease-in;
}

/* NAV */
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	position: relative;
}

.nav__link:after {
	content: "";
	display: block;
	width: 0px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: width 0.2s;
}

.nav__link:hover:after {
	width: 100%;
}

/* SECTION */
.section {
	padding: 80px 0;
}

.section__header {
	width: 100%;
	margin: 0 auto 40px;
	max-width: 950px;

	text-align: center;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 120px;
	height: 3px;
	margin: 30px auto;
	border-radius: 50%;

	background-color: #4682B4;
}

/* PRESENT */
.present {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.present__item {
	width: 200px;
	text-align: center;
}

.present__img:after {
	content: "";
	display: block;
	width: 120px;
	height: 3px;
	margin: 10px auto;
	border-radius: 50%;

	background-color: #4682B4;
}

.present__title {
	font-size: 20px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.present__subtitle {
	margin: 10px auto
}

.btn {
	text-transform: uppercase;
	padding: 5px;
	margin: 15px auto 0;
	border-color: orange;
	border-style: inset;
	background-color: #FF5722;
	color: #fff;
	text-decoration: none;
	transition: .2s;
}

.btn:hover {
	transition: 0.2s ease-out;
	color: #333;
	background-color: #fff;
	border-radius: 30%;
}